
/* font-family: 'Bubblegum Sans', cursive; */
/*  dark blue - #021b79  rgba(2, 27, 121, 1)*/
/* light blue -  #5770c8; hsl (227° 51% 56%) */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body {
  width: 100vw;
  height: 100vh;
    font-family: 'Bubblegum Sans', cursive;
    /* background: #2c47a8; */
    background: #2c4bbb;
    /* background: #5770c8; */
    /* background-image: url('london.jpg'); */
    /* background-repeat: no-repeat; */
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    background-size: cover;
    background-position: left;
    
    color: white;
    

  
}


nav {
    display: grid;
    grid-template-columns: 1fr 6fr;
    justify-content: center;
    align-content: center;
    background:  #52437b;
    /* background: hsl(0, 66%, 25%); */
    /* background: linear-gradient(to right, #1f176b, #6a659b, #363649); */
    /* background: linear-gradient(to right, #181f5a, #090b80a8); */
    /* background: linear-gradient(to right, #e8cbc0, #636fa4); */
    opacity: .9;
    grid-gap: 2rem;
    
     /* background-image: linear-gradient(135deg,#222649 20%, #09268b 80%);  */
     /* background-image: url('london.jpg'); */
     /* background-size: cover;
     background-position:  center; */
    padding: 1rem;
    border-bottom: 2px solid hsl(0, 49%, 10%);
    height: 15vh;
}
.logo
{
  color:   #e7eef1ce;
  font-size: 2rem;
  padding: 16px;
  text-decoration: none;
  transition: color .2s ease-in-out;
  align-self: center;
}
@media only screen and (max-width: 1100px) {
  .logo {
    font-size: 1.8rem;
    
  }
}
@media only screen and (max-width: 800px) {
  .logo {
    font-size: 1.6rem;
    
  }
}


.logo:hover
 {
  color:   #e7eef1f1;
}

h1 {
      width: 100%;
      max-width: 960px;
      margin: 1rem auto;
      transform: rotate(-1deg);
      color: white;
      text-align: center;
      font-size: 2.8rem;
      line-height: 4rem;
      text-shadow:  0 1px 0 hsl(52,7%,20%),
                    0 2px 0 hsl(52,7%,18%),
                    0 3px 0 hsl(52,7%,16%),
                    0 4px 0 hsl(52,7%,14%),
                    0 5px 0 hsl(52,7%,12%),
                    0 6px 0 hsl(52,7%,10%),
                    0 7px 0 hsl(52,7%,8%),
                    0 8px 0 hsl(52,7%,6%),
  
                    0 0 5px rgba(0,0,0,.05),l,
                    0 1px 3px rgba(0,0,0,.2),
                    0 3px 5px rgba(0,0,0,.2),
                    0 5px 10px rgba(0,0,0,.2),
                    0 10px 10px rgba(0,0,0,.2),
                    0 20px 20px rgba(0,0,0,.3);
   
}

@media only screen and (max-width: 1100px) {
  h1 {
    font-size: 2.3rem;
    line-height: 3.5rem;
  }
}
@media only screen and (max-width: 900px) {
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}
.register-instruction {
  margin-bottom: 20px;
  font-size: 1.5rem;
}
@media only screen and (max-width: 600px) {
  .register-instruction
    {
      font-size: 1.2rem;
  }
}

p.error {
  color: red;
}


/* REGISTER FORM */
.register-block {
  position: absolute;
display: grid;
top: 50%;
left: 50%;
justify-content: center;
align-content: center;
transform: translate(-50%, -50%);

  background: #e7eef1;
  opacity: .8;
  width: 60%;
  height: 70%;
  max-width: 960px;
  margin: 60px auto;
  padding: 40px 40px 60px;
 
  box-shadow: 0 0 50px rgba(0, 0,0,.2);
  border-radius: 2px;
  color: #021b79;
}
@media only screen and (max-width: 800px) {
  .register-block
    {
      margin: 40px auto;
      width: 70%;
  }
}

.register-block form input {
  display: inline-block;
  width: 100%;
  padding: 0 20px;
  line-height: 50px;
  background: white;
  border: 1px solid #636b86;
  border-bottom-width: 3px;
  border-radius: 5px;
  transition: all .3s ease;
  outline: none;
}

.register-block form input:not(:last-child) {
  margin-bottom: 20px;
}

.register-block form input[type="text"]:focus,
.register-block form input[type="text"]:active {
  border-color:#021b79;
}

.register-block form input[type="submit"] {
  position: relative;
  margin: 0 auto;
  width: 25vw;
  font-size: 1.2rem;
  z-index: 1;
  display: block;
  padding: 0 20px;
  background-color: #021b79;
  background-size:100% 100%;
  background-image:          linear-gradient(30deg,
                                                rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%,
                                                rgba(0, 0, 0, 0) 50%,
                                                rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%,
                                                rgba(0, 0, 0, 0));
  border: solid 1px  #021b79;
  border-bottom-width: 3px;
  color: white;
  outline: none;
  cursor: pointer;
  transition: all .3s ease;
}
@media only screen and (max-width: 800px) {
  .register-block form input[type="submit"]
    {
      width: 35vw;
  }
}
@media only screen and (max-width: 600px) {
  .register-block form input[type="submit"]
    {
      width: 45vw;
  }
}

.register-block form input[type="submit"]:hover {
  background-size: 140% 140%;
}

.register-title {
  display: flex;
  font-size: 2rem;
  padding-bottom: 20px;
  width: 100%;
  margin: 20px auto;
  border-bottom: dashed 2px #021b79;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .register-title
    {
      font-size: 1.6rem;
  }
}
/* INSTRUCTION */

.instruction,
.details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* max-height: 60vh; */
  /* padding: 15px;  */
  opacity: .8;


  position: relative;
  width: 60%;
  /* max-width: 960px; */
  margin: 60px auto;
  padding: 40px 40px 60px;
 
  box-shadow: 0 0 50px rgba(0, 0,0,.2);
  border-radius: 2px;
  color:#021b79;
  background: #e7eef1;

}


@media only screen and (max-width: 800px) {
  .instruction,
.details
    {
      padding: 25px 38px;
    
  }
}
.instruction ol,
.btn-3d {
  /* margin: 3rem 0; */
  align-self: center;
  font-size: 1.3rem;
  /* line-height: 150%; */

}
@media only screen and (max-width: 1100px) {
  .instruction ol,
.btn-3d 
    {
    font-size: 1rem;
    
  }
}


.instruction h2 {
  font-size: 1.8rem;
  /* padding: 4rem; */
  margin: 20px auto;
  padding-bottom: 20px;
  align-self: center;
  border-bottom: dashed 2px #021b79;
}
@media only screen and (max-width: 1100px) {
  .instruction h2
    {
    font-size: 1.5rem;
  }
}

.btns {
  display: flex;
  justify-content: space-around;
}

/* FOOTER */

footer {
  /* display: flex; */
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 2rem;
  
  justify-content: center;
  font-family: inherit;
  color: #e7eef1;
  /* color: black; */
  font-size: 1rem;
  
}
@media only screen and (max-width: 600px) {
  footer
    {
    font-size: .8rem;
  }
}

/* BUTTON 3D */

.btn-3d {
  display: block;
  background:  hsl(227, 51%, 50%);
  text-decoration: none;
  color: white;
  padding: 15px 24px;
  font-size: 1.4rem;
  box-shadow: -6px 6px 0 hsl(221, 40%, 30%);
  outline: none;
  margin-top: 3rem;

}

@media only screen and (max-width: 1100px) {
  .btn-3d
    {
    font-size: 1.2rem;
    padding: 10px 18px;
  }
}
@media only screen and (max-width: 500px) {
  .btn-3d
    {
    font-size: 1rem;
    padding: 8px 12px;
  }
}


  .btn-3d:hover {
    background: hsl(227, 50%, 40%);
  }

  .btn-3d:active {
    background: hsl(227, 51%, 20%);
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 hsl(227, 51%, 20%);
  }

    /* FORM */

    .register-block .error {
      color: red;
      margin-bottom: 1rem;
    }

    /* WORDS */

  .container{
    position: relative;
      display: grid;
     justify-content: center;
      padding: 4rem;
      grid-gap: 2rem;
      grid-template-rows: 1fr,repeat(auto-fit, minmax(300px, 1fr));
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    }

    .card {
      /* background-color:   #5770c8; */
      color:#021b79;
  background: #e7eef1;
  opacity: .7;
      padding: 2rem;
      display: grid;
      justify-content: center;
      box-shadow: 0 0 50px rgba(0, 0,0,.3);
      z-index:3;
    }

    @media only screen and (max-width: 800px) {
      .card
        {
              padding: 1.4rem;
      }
    }
    @media only screen and (max-width: 600px) {
      .card
        {
              padding: 1.2rem;
      }
    }
    .card-content {
      font-size: 1.2rem;
      width: 250px;
      padding: 1.4rem .5rem;
      text-align: left;
      border-bottom: 2px dashed #021b79;
    }
    .card-content h5 {
      font-size:1.6rem;
      text-transform: uppercase;
      margin-bottom: 1rem;
      text-align: center;
    }
    .card-action {
      display: flex;
  justify-content: space-around;
      padding-top: 1rem;
     
      /* justify-self: right; */
      font-size: 1.3rem;

    }
.words {
  grid-column: 1/-1;
  font-size: 2rem;
  margin: 0 auto;

}
/* .container {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
} */

/* DETAILS */

.flag {
  width: 100px;
  margin: 10px auto -30px;
  display: block;
  position: relative;
  top: -30px;
  
}
@media only screen and (max-width: 1100px) {
  .flag
    {
      width: 80px;
  }
}
@media only screen and (max-width: 800px) {
  .flag
    {
      margin: 20px auto -30px;
  }
}

input[type="submit"].btn-3d {
  border: none;
  font-family: inherit;
}
.details {
 width: 40%;
  font-size: 1.5rem;
  padding: 1rem;

}
.details>* {
  margin: 10px 40px;

}

/* PRINT */

@media print {
 /* HIDE UNWANTED ELEMENTS */
 .card {
  color:black;
  background: none;
  opacity: 1;
      padding: 2rem;
      display: grid;
      justify-content: center;
      box-shadow:none;
 }

 .card-action,
 h3.words,
 footer {
 display: none;

}
img.flag {
  display: none;
}
.card-content {
  font-size: 16pt;
  width: 100px;
  padding: 0;
  
  border-bottom:none;
}
ul {
  list-style: none;
}
/* GLOBAL RESET */
body {
  font-family: Georgia, serif;
  font-size: 16pt;
  line-height: 24pt;
  background: none;
  color: rgb(31, 8, 8);
}

/* LAYOUT RESET */
.container,
.words,
.card,
.card-content {
  background: none;
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  color: #000;
}
.card-action,
.card {
 
justify-content: start;
}
.card {
  margin-top: 25px;
}
 /* SPECIFICS */
 h1,h2,h3,h4,h5,h6 {
  color: #000;
  font-size: 20pt;
  line-height: 30pt;
  margin: 0;
}
h1 {
 
  margin: 0 0 20pt;
  text-align: center;
  width: 100%;
  transform: rotate(0);
}
}


body::before {
  position: fixed;
  content: "";
  height: 400px;
  width:400px;
  top: 347px;
  right: 22px;
  background: url('logo3.png') no-repeat;
  background-size: 100%;
  opacity: .2;
  z-index: 2;
}


 

